*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #DDDDDD;
}
html, body{
    font-size: 15px;
    line-height: 1.5;
    box-sizing: inherit;
}
.modal-open{
    overflow: hidden;
}